.MainDiv {
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: pink;
    flex-direction: row;
    justify-content: space-between;
}

.parentDiv {
    display: flex;
    gap: 20px;
}

.loginDiv {
    display: flex;
    gap: 20px;
}