.MainDiv{
    display: flex;
    margin: 2px;
    padding: 5px;
    gap: 70px;
    text-align: center;
    align-items: center;
    background-color: var(--bg);
}

.parentDiv{
  display: flex;
  gap: 20px;
}